*{
    margin: 0px;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background-color: #0f1111;
    position: sticky;
    top: 0px;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100px;
    background-size: cover;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-sec{
    font-size: 1rem;
    margin-left: 3px;
    font-weight: bold;
}
.add-icon{
    display: flex;
    align-items: center;
}

/* BOX_3 */

.nav-search{
    height: 40px ;
    width: 600px;
    display: flex;
    justify-content: space-evenly; 
}
.nav-search:hover{
    border: 2px solid #febd68;
    border-radius: 7px;
}
.search-select{
    width: 50px;
    text-align: center;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgb(190, 190, 190) ;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #febd68;
}

/* .nav-sign{
    
} */
 
.span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    
    font-size: 0.85rem;
    font-weight: 700;
}

/* Panel */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p{
    display: inline;
    margin: 10px;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

.hero_section{
    background-image: url(hero_image.jpg);
    background-size: cover;
    height: 300px; 
    display: flex;  
    justify-content: center;
    align-items: flex-end;
}

.hero_message{
    background-color: white;
    color: #0f1111;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 50px;
}

.hero_message a{
    color: #007185;
}

/* shop section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    width: 23%;
    height: 400px;
    /* border: 2px solid black; */
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
}

/* Footer */
.footer-panel{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}
.footer-panel2{
    background-color: #222f3d;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 20px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 15px;
    color: #DDDDDD;
}

.footer-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.524);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo2{
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100px;
    background-size: cover;
}

.footer-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    text-align: center;
}
.pages{
    font-size: 0.7rem;
    padding-top: 25px;
}

.copyright{
    font-size: 0.7rem;
    padding-top: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar{
        flex-direction: column;
        height: auto;
    }
    .nav-search{
        width: 100%;
    }
    .shop-section{
        flex-direction: column;
        align-items: center;
    }
    .box{
        width: 90%;
        margin: 10px 0;
    }
    .hero_section{
        height: 200px;
    }
    .footer-panel2{
        flex-direction: column;
        align-items: center;
    }
    .footer-panel2 ul{
        width: 100%;
        text-align: center;
    }
    .footer-panel2 a{
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .navbar{
        flex-direction: column;
        height: auto;
    }
    .nav-search{
        width: 100%;
    }
    .shop-section{
        flex-direction: column;
        align-items: center;
    }
    .box{
        width: 100%;
        margin: 10px 0;
    }
    .panel{
        flex-direction: column;
        align-items: center;
    }
    .panel-ops p{
        margin: 5px 0;
    }
    .hero_message{
        font-size: 0.75rem;
        width: 100%;
    }
}
